.editable-text {
  display: block;
  width: fit-content;
  border: 0.2vmin solid transparent;
}

.editable-text:hover {
  border: 0.2vmin solid rgba(245, 245, 245, 0.481);
  border-radius: 6px;
  color: aquamarine;
}

input {
  font-size: calc(10px + 2vmin);
  font-family: inherit;
  color: aliceblue;
  background-color: #282c34;
  min-height: calc(10px + 2vmin);
  min-width: 30vw;
}

textarea {
  font-size: calc(10px + 2vmin);
  font-family: inherit;
  color: aliceblue;
  background-color: #282c34;
  min-height: 3vmin;
  max-height: fit-content;
  min-width: 35vw;
}
